Есть два вида пользователей - санта и ребенок.

Ребенок может:
1. зарегистрироваться
2. после чего войти в свой аккаунт
3. писать письмо санте
4. удалять конкретное письмо с помощью двойного клика и кнопки "удалить"
5. изменять письмо с помощью двойного клика, окон для изменения данных и кнопки "сохранить изменения"
5. искать письма по топику или году
6. удалять письма по этому запросу
7. выйти из своего профиля
8. удалить свой профиль

Санта может:
1. войти в свой уже существующий профиль
2. смотреть письма детей, которые принадлежат региону, за которыый он отвечает
3. смотреть полную информацию о ребенке, которому принадлежит письмо 
4. выйти из профиля 

